---
import { Image } from 'astro:assets';
import me from '../me.png';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-amber-200">
		<div class="flex flex-col items-center justify-center h-screen">
			<div class="w-[600px] h-[600px] bg-spots rounded-full animate-container flex flex-col items-center justify-center">
				<div class="animate-head relative overflow-hidden h-[500px] w-[500px] rounded-full bg-light">
					<Image class="absolute inset animate-zoom translate-[15%_8%]" src={me} alt="Me" />
				</div>
			</div>
		</div>
	</body>
</html>
